server {
    listen 80;
    listen [::]:80;
    server_name ${DOMAIN};

    #access_log  /var/log/nginx/host.access.log  main;

    location / {
        proxy_pass http://cranach-api:8080/;
    }
    
    location /elasticsearch {
        proxy_pass http://cranach-es:9200/;
        rewrite ^/elasticsearch/(.*) /$1 break; #  removes /elasticsearch from the path
    }

    location /kibana {
        proxy_pass http://cranach-kibana:5601;
    }

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

    client_max_body_size 100M;

}